Checks: >
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  misc-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-non-private-member-variables-in-classes

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'

CheckOptions:
  - key: readability-identifier-naming.ParameterIgnoredRegexp
    value: '^(x|y|z|r|g|b|a|u|v)$'
