# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: CMake on multiple platforms

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"

jobs:
  build-and-test:
    name: Build & Test ${{ matrix.preset }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      
      fail-fast: false

      matrix:
        include:
          - os: ubuntu-latest
            preset: linux-release
            artifact_name: linux-release
          - os: windows-latest
            preset: x64-release
            artifact_name: windows-x64-release
            
    steps:
      - uses: actions/checkout@v4

      - name: Set up MSVC (Windows only)
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1

      # Install Linux dependencies
      - name: Install dependencies (Linux only)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake ninja-build pkg-config \
            libx11-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev \
            libgl1-mesa-dev mesa-common-dev \
            libwayland-dev libxkbcommon-dev wayland-protocols

      - name: Configure
        run: cmake --preset=${{ matrix.preset }}

      - name: Build
        run: cmake --build build/${{ matrix.preset }}

      - name: Run Tests
        run: ctest --test-dir build/${{ matrix.preset }} --output-on-failure

      - name: Archive binaries (Linux)
        if: runner.os == 'Linux'
        shell: bash
        run: |
          mkdir -p release
          cp -r bin/${{ matrix.preset }}/* release/
          zip -r ${{ matrix.artifact_name }}.zip release

      - name: Archive binaries (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Force -Path release
          Copy-Item -Path build/${{ matrix.preset }}/bin/* -Destination release -Recurse
          Compress-Archive -Path release/* -DestinationPath ${{ matrix.artifact_name }}.zip -Force

      # Upload artifact
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: ${{ matrix.artifact_name }}.zip
          
  release:
    name: Publish Release
    needs: build-and-test
    runs-on: ubuntu-latest

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/**/*.zip
          generate_release_notes: true

      
